<div class="layout-topbar">
    <div class="topbar-start">
        <button #menubutton type="button" class="topbar-menubutton p-link p-trigger" (click)="onMenuButtonClick()">
            <i class="pi pi-bars"></i>
        </button>
    </div>
    <div class="layout-topbar-menu-section">
        <app-sidebar></app-sidebar>
    </div>
    <div class="topbar-end p-4">
        <ul class="topbar-menu">
            <li #profile class="profile-item topbar-item" >
                <a pStyleClass="@next" enterFromClass="ng-hidden" enterActiveClass="px-scalein" leaveToClass="ng-hidden" leaveActiveClass="px-fadeout" [hideOnOutsideClick]="true" pRipple class="cursor-pointer">
                    <i class="pi pi-cog pi-spin text-2xl"></i>
                </a>
                <ul class="topbar-menu active-topbar-menu p-4 w-15rem z-5 ng-hidden border-round">
                    <li role="menuitem" class="m-0 mb-3">
                        <a routerLink="/user-profile" class="flex align-items-center hover:text-primary-500">
                            <i class="pi pi-user mr-2"  style="color: var(--primary-color)"></i>
                            <span>Profile</span>
                        </a>
                    </li> 
                    <li role="menuitem" class="m-0 mb-3">
                        <a (click)="onConfigButtonClick(); $event.preventDefault()" 
                        class="flex align-items-center hover:text-primary-500" >
                            <i class="pi pi-objects-column mr-2" style="color: var(--primary-color)"></i>
                            <span>Customize Layout</span>
                        </a>
                    </li>
                    <li role="menuitem" class="m-0 mb-3">
                        <a (click)="$event.preventDefault()" class="flex align-items-center hover:text-primary-500">
                            <i class="pi pi-fw pi-lock mr-2" style="color: var(--primary-color)"></i>
                            <div class="flex align-items-center justify-between w-full">
                                <span>{{ valSwitch ? 'Disable' : 'Enable' }} 2FA</span>
                                <p-inputSwitch  [(ngModel)]="valSwitch" class="ml-auto"(onChange)="onToggle2FA()"></p-inputSwitch>
                            </div>
                        </a>
                    </li>
                    <li role="menuitem" class="m-0 mb-3">
                        <a (click)="openChangePassword(); $event.preventDefault()" 
                           class="flex align-items-center hover:text-primary-500">
                            <i class="pi pi-key  mr-2" style="color: var(--primary-color)"></i>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <li role="menuitem" class="m-0 mb-3 hover:cursor-pointer">
                        <a (click)="logout(); $event.preventDefault()" class="flex align-items-center hover:text-primary-500">
                            <i class="pi pi-fw pi-sign-out mr-2" style="color: var(--primary-color)"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!--Dialog-->
<app-change-password></app-change-password>
<app-verify-two-factor-token></app-verify-two-factor-token>