<p-toast />
<div class="surface-ground flex align-items-center justify-content-center min-h-screen"
  style="background:var(--surface-ground)">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-4">
    <div class="grid">
      <div class="col-12">
        <div class="field grid">
          <div class="col-12">
            <p-inputGroup>
              <p-inputGroupAddon>
                <i class="pi pi-envelope"></i>
              </p-inputGroupAddon>
              <input id="email" type="text" pInputText ngModel #emailInput placeholder="Enter your email" />
              <button pButton pRipple  class="gap-2" (click)="submit(emailInput)">
                <ng-container *ngIf="isLoading; else forgotPassLabel">
                  <i class="pi pi-spin pi-spinner"></i> Loading...
              </ng-container>
              <ng-template #forgotPassLabel>Validate</ng-template>
              </button>
            </p-inputGroup>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>