<p-toast />

<div class="surface-ground flex align-items-center justify-content-center min-h-screen"
    style="background:var(--surface-ground)">
    <div class="surface-card p-4 shadow-2 border-round  lg:w-4">
        <div class="text-center mb-5">
            <!-- <img [src]="'assets/layout/images/logo-'+ (layoutSvcs.config().colorScheme === 'light' ? 'dark' : 'light') + '.png'"
                class="login-logo  mb-4" style=" width: 45px;" />
            <img [src]="'assets/layout/images/appname-'+ (layoutSvcs.config().colorScheme === 'light' ? 'dark' : 'light') + '.png'"
                class="login-appname ml-3 mb-4" style="width: 100px;" /> -->
            <div class="text-600 font-medium">You are only one step a way from your new password, recover your password
                now.</div>
        </div>
        <div class="grid">
            <div class="col-12">
                <div class="p-fluid">
                    <div class="field">
                        <p-password id="newPassword" [(ngModel)]="resetPass.newPassword"
                            (ngModelChange)="checkPasswordMatch()" [toggleMask]="true" placeholder="New Password">
                        </p-password>
                    </div>
                    <div class="field">
                        <p-password id="confirmPassword" [(ngModel)]="resetPass.confirmNewPassword"
                            (ngModelChange)="checkPasswordMatch()" [toggleMask]="true"
                            placeholder="Confirm new password">
                        </p-password>
                        <small class="p-error block" *ngIf="showPasswordMismatch">
                            Passwords do not match
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid">
                <div class="col-6 flex justify-content-start">
                    <a pButton routerLink="/auth/login" icon="pi pi-arrow-circle-left" label="Back To Login"></a>
                  </div>
                <div class="col-6 flex justify-content-end">
                    <button pButton type="submit"  [disabled]="!isFormValid()"
                        (click)="submit()">
                        <ng-container *ngIf="isLoading; else rpLabel">
                            <i class="pi pi-spin pi-spinner"></i> Loading...
                        </ng-container>
                        <ng-template #rpLabel>Reset</ng-template>
                    </button>
                </div>
         
        </div>
    </div>
</div>