<p-toast />
<div class="surface-ground flex align-items-center justify-content-center min-h-screen"
    style="background:var(--surface-ground)">
    <div class="surface-card p-4 shadow-2 border-round  lg:w-4">
        <div class="grid">
            <div class="col-12">
                <div class="p-fluid">
                    <div class="field">
                        <p-password id="newPassword" [(ngModel)]="resetPass.newPassword"
                            (ngModelChange)="checkPasswordMatch()" [toggleMask]="true" placeholder="New Password">
                        </p-password>
                    </div>
                    <div class="field">
                        <p-password id="confirmPassword" [(ngModel)]="resetPass.confirmNewPassword"
                            (ngModelChange)="checkPasswordMatch()" [toggleMask]="true"
                            placeholder="Confirm new password">
                        </p-password>
                        <small class="p-error block" *ngIf="showPasswordMismatch">
                            Passwords do not match
                        </small>
                    </div>
                    <div class="flex justify-content-end">
                        <button pButton type="submit" class="w-3 p-button-primary" [disabled]="!isFormValid()"
                            (click)="submit()" style="display: flex; align-items: center; justify-content: center;">
                            <ng-container *ngIf="isLoading; else rpLabel">
                                <i class="pi pi-spin pi-spinner"></i> Loading...
                            </ng-container>
                            <ng-template #rpLabel>Reset</ng-template>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>