<p-dialog header="Change Password" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <div class="grid">
        <div class="col-12">
            <div class="p-fluid">
                <div class="field mb-4">
                    <p-password id="newPassword" [(ngModel)]="changePass.currentPassword" [toggleMask]="true"
                        [feedback]="false" placeholder="Current Password">
                    </p-password>
                </div>
                <div class="field mb-4">
                    <p-password id="newPassword" [(ngModel)]="changePass.newPassword"
                        (ngModelChange)="checkPasswordMatch()" [toggleMask]="true" [feedback]="false"
                        placeholder="New Password">
                    </p-password>
                    <small class="text-xs block mt-1">
                        Password must contain:
                        <ul class="list-none p-0 m-0 mt-1">
                            <li class="mb-1">
                                <i class="pi" [class.pi-times]="passwordErrors.includes('Password must be at least 8 characters long')"
                                   [class.pi-check]="!passwordErrors.includes('Password must be at least 8 characters long')"
                                   [class.text-red-500]="passwordErrors.includes('Password must be at least 8 characters long')"
                                   [class.text-green-500]="!passwordErrors.includes('Password must be at least 8 characters long')">
                                </i>
                                At least 8 characters
                            </li>
                            <li class="mb-1">
                                <i class="pi" [class.pi-times]="passwordErrors.includes('Password must contain at least one lowercase letter')"
                                   [class.pi-check]="!passwordErrors.includes('Password must contain at least one lowercase letter')"
                                   [class.text-red-500]="passwordErrors.includes('Password must contain at least one lowercase letter')"
                                   [class.text-green-500]="!passwordErrors.includes('Password must contain at least one lowercase letter')">
                                </i>
                                One lowercase letter
                            </li>
                            <li class="mb-1">
                                <i class="pi" [class.pi-times]="passwordErrors.includes('Password must contain at least one uppercase letter')"
                                   [class.pi-check]="!passwordErrors.includes('Password must contain at least one uppercase letter')"
                                   [class.text-red-500]="passwordErrors.includes('Password must contain at least one uppercase letter')"
                                   [class.text-green-500]="!passwordErrors.includes('Password must contain at least one uppercase letter')">
                                </i>
                                One uppercase letter
                            </li>
                            <li class="mb-1">
                                <i class="pi" [class.pi-times]="passwordErrors.includes('Password must contain at least one number')"
                                   [class.pi-check]="!passwordErrors.includes('Password must contain at least one number')"
                                   [class.text-red-500]="passwordErrors.includes('Password must contain at least one number')"
                                   [class.text-green-500]="!passwordErrors.includes('Password must contain at least one number')">
                                </i>
                                One number
                            </li>
                            <li>
                                <i class="pi" [class.pi-times]="passwordErrors.includes('Password must contain at least one special character (@#$%^&*!)')"
                                   [class.pi-check]="!passwordErrors.includes('Password must contain at least one special character (@#$%^&*!)')"
                                   [class.text-red-500]="passwordErrors.includes('Password must contain at least one special character (@#$%^&*!)')"
                                   [class.text-green-500]="!passwordErrors.includes('Password must contain at least one special character (@#$%^&*!)')">
                                </i>
                                One special character ( &#64; # $ % ^ &amp; * ! )
                            </li>
                        </ul>
                    </small>
                </div>
                <div class="field mb-4">
                    <p-password id="confirmPassword" [(ngModel)]="changePass.confirmNewPassword"
                        (ngModelChange)="checkPasswordMatch()" [toggleMask]="true" [feedback]="false"
                        placeholder="Confirm password">
                    </p-password>
                    <small class="p-error block" *ngIf="showPasswordMismatch">
                        Passwords do not match
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col-6 flex justify-content-start">
            <p-button label="Cancel" severity="secondary" (onClick)="hideDialog()" />
        </div>
        <div class="col-6 flex justify-content-end">
            <button pButton type="button" [disabled]="!isFormValid()" (click)="submit()">
                <ng-container *ngIf="isLoading; else rpLabel">
                    <i class="pi pi-spin pi-spinner"></i> Loading...
                </ng-container>
                <ng-template #rpLabel>Reset</ng-template>
            </button>
        </div>
    </div>
</p-dialog>