<p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-5">Update your information.</span>
    <div class="flex align-items-center gap-3 mb-3">
        <p-password id="newPassword" [(ngModel)]="changePass.currentPassword" [toggleMask]="true"
            placeholder="Current Password">
        </p-password>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <p-password id="newPassword" [(ngModel)]="changePass.newPassword" (ngModelChange)="checkPasswordMatch()"
            [toggleMask]="true" placeholder="New Password">
        </p-password>
    </div>
    <div class="flex align-items-center gap-3 mb-5">
        <p-password id="confirmPassword" [(ngModel)]="changePass.confirmNewPassword"
            (ngModelChange)="checkPasswordMatch()" [toggleMask]="true" placeholder="Confirm new password">
        </p-password>
        <small class="p-error block" *ngIf="showPasswordMismatch">
            Passwords do not match
        </small>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (onClick)="hideDialog()" />
        <p-button pButton type="submit" [disabled]="!isFormValid()"
            (click)="submit()">
            <ng-container *ngIf="isLoading; else rpLabel">
                <i class="pi pi-spin pi-spinner"></i> Loading...
            </ng-container>
            <ng-template #rpLabel>Reset</ng-template>
        </p-button>
    </div>
</p-dialog>