<form [formGroup]="branchForm">
    <form [formGroup]="branchForm" class="pt-4">
        <div class="grid">
            <div class="col-12">
                    <p-toolbar styleClass="mb-1">
                        <ng-template pTemplate="left">
                            <button pButton pRipple label="Back To List" icon="fa-solid fa-circle-left" class="p-button-outlined p-button-info" (click)="BackToList()"></button>
                        </ng-template>
                        <ng-template pTemplate="right">
                            <button (click)="display=true" pButton icon="pi pi-external-link" label="Show"></button>
                        </ng-template>
                    </p-toolbar>
            </div>
            <div class="col-12">
                <div formArrayName="branches">
                    <div *ngFor="let branch of branches.controls; let i=index" [formGroupName]="i" class="mb-1">
                       
                        <div class="card">
                            <input type="hidden"  formControlName="branchId">
                            <div class="p-fluid p-formgrid grid">
                                <div class="field col-12">
                                    <h3>#{{i + 1}}
                                        <button pButton type="button" icon="pi pi-trash" (click)="removeBranch(i)"
                                            class="p-button-danger p-button-text"></button>
                                    </h3>
                                </div>
                                <div class="field col-12 md:col-6">
                                    <p-inputGroup>
                                        <p-inputGroupAddon>
                                            <i class="fa-solid fa-city"></i>
                                        </p-inputGroupAddon>
                                        <span class="p-float-label">
                                            <input type="text" pInputText transformToUppercase id="branchName_{{i}}"
                                                formControlName="branchName" autocomplete="off">
                                            <label [for]="'branchName_' + i">Branch Name</label>
                                        </span>
                                    </p-inputGroup>
                                </div>
                                <div class="field col-12 md:col-6">
                                    <p-inputGroup>
                                        <p-inputGroupAddon>
                                            <i class="fa-solid fa-barcode"></i>
                                        </p-inputGroupAddon>
                                        <span class="p-float-label">
                                            <input type="text" pInputText id="branchCode_{{i}}"
                                                formControlName="branchCode" autocomplete="off">
                                            <label [for]="'branchCode_' + i">Code</label>
                                        </span>
                                    </p-inputGroup>
                                </div>
                                <div class="field col-12 md:col-6">
                                    <p-inputGroup>
                                        <p-inputGroupAddon>
                                            <i class="fa-solid fa-phone"></i>
                                        </p-inputGroupAddon>
                                        <span class="p-float-label">
                                            <input type="text" pInputText id="contactNumber_{{i}}"
                                                formControlName="contactNumber" autocomplete="off">
                                            <label [for]="'contactNumber_' + i">Phone Number</label>
                                        </span>
                                    </p-inputGroup>
                                </div>
                                <div class="field col-12 md:col-6">
                                    <p-inputGroup>
                                        <p-inputGroupAddon>
                                            <i class="fa-solid fa-location-dot"></i>
                                        </p-inputGroupAddon>
                                        <span class="p-float-label">
                                            <input type="text" pInputText id="branchAddress_{{i}}"
                                                formControlName="branchAddress" autocomplete="off">
                                            <label [for]="'branchAddress_' + i">Address</label>
                                        </span>
                                    </p-inputGroup>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-end mb-3">
                    <button pButton type="button" label="Add" icon="fa-solid fa-circle-plus" (click)="addBranch()"
                        class="p-button-success "></button>
                    <button pButton type="submit" label="Save" icon="pi pi-save" [disabled]="!branchForm.valid" (click)="submit()"
                        class="p-button-primary ml-2"></button>
                </div>
            </div>
        </div>
    </form>


    <p-dialog header="Dialog" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '60vw'}"
        [breakpoints]="{'960px': '75vw'}">
        <p-accordion>
            <p-accordionTab header="Form Values" [selected]="true" class="line-height-3 m-0">
                <pre class="p-2 border rounded bg-gray-100" style="white-space: pre-wrap;">{{ formJson }}</pre>
            </p-accordionTab>
            <p-accordionTab header="Branch" class="line-height-3 m-0">
                <pre class="p-2 border rounded bg-gray-100" style="white-space: pre-wrap;">{{ branchJson }}</pre>
            </p-accordionTab>
            <p-accordionTab header="Add Model" class="line-height-3 m-0">
                <pre class="p-2 border rounded bg-gray-100" style="white-space: pre-wrap;">{{ branchModelJson }}</pre>
            </p-accordionTab>
            <p-accordionTab header=" Update Model" class="line-height-3 m-0">
                <pre class="p-2 border rounded bg-gray-100" style="white-space: pre-wrap;">{{BranchUpdatemodelJson}}</pre>
            </p-accordionTab>
            <p-accordionTab header="Form Status" class="line-height-3 m-0">
                <p><strong>Valid:</strong> {{ branchForm.valid }}</p>
                <p><strong>Touched:</strong> {{ branchForm.touched }}</p>
                <p><strong>Dirty:</strong> {{ branchForm.dirty }}</p>
                <p><strong>Status:</strong> {{ branchForm.status }}</p>
            </p-accordionTab>
            <p-accordionTab header="Property Status" class="line-height-3 m-0">
                <p><strong>Operation Type:</strong> {{ operationType }}</p>
            </p-accordionTab>
        </p-accordion>
        <ng-template pTemplate="footer">
            <button pButton icon="pi pi-check" (click)="display=false" label="Ok" class="p-button-outlined"></button>
        </ng-template>
    </p-dialog>