<p-toast></p-toast>

<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="col-12">
                <p-toolbar styleClass="mb-1">
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="Back To List" icon="fa-solid fa-circle-left"
                            class="p-button-outlined p-button-info" (click)="BackToList()"></button>
                    </ng-template>
                    <ng-template pTemplate="right">
                        <button (click)="display=true" pButton icon="pi pi-external-link" label="Show"></button>
                    </ng-template>
                </p-toolbar>
            </div>
            <div class="col-12">
                <form [formGroup]="branchForm" class="pt-4">
                    <div formArrayName="branches">
                        <div *ngFor="let branch of branchesArray.controls; let i=index" [formGroupName]="i" class="mb-1">
                            <div class="p-fluid p-formgrid grid">
                                <div class="field col-12">
                                    <h3>#{{i + 1}}
                                        <button pButton type="button" icon="pi pi-trash" (click)="removeBranch(i)"
                                            class="p-button-danger p-button-text"></button>
                                    </h3>
                                </div>

                                <!-- Branch Name -->
                                <div class="field col-12 md:col-4">
                                    <p-inputGroup>
                                        <p-inputGroupAddon>
                                            <i class="fa-solid fa-city"></i>
                                        </p-inputGroupAddon>
                                        <span class="p-float-label">
                                            <input type="text" pInputText transformToUppercase [id]="'branchName_' + i"
                                                formControlName="branchName" autocomplete="off"
                                                [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(i, 'branchName')}">
                                            <label [for]="'branchName_' + i">Branch Name</label>
                                        </span>
                                    </p-inputGroup>
                                    <small class="p-error block" *ngIf="isFieldInvalid(i, 'branchName')">
                                        {{ getErrorMessage(i, 'branchName') }}
                                    </small>
                                </div>

                                <!-- Branch Code -->
                                <div class="field col-12 md:col-4">
                                    <p-inputGroup>
                                        <p-inputGroupAddon>
                                            <i class="fa-solid fa-barcode"></i>
                                        </p-inputGroupAddon>
                                        <span class="p-float-label">
                                            <input type="text" pInputText [id]="'branchCode_' + i"
                                                formControlName="branchCode" autocomplete="off"
                                                [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(i, 'branchCode')}">
                                            <label [for]="'branchCode_' + i">Code</label>
                                        </span>
                                    </p-inputGroup>
                                    <small class="p-error block" *ngIf="isFieldInvalid(i, 'branchCode')">
                                        {{ getErrorMessage(i, 'branchCode') }}
                                    </small>
                                </div>

                                <!-- Contact Number -->
                                <div class="field col-12 md:col-4">
                                    <p-inputGroup>
                                        <p-inputGroupAddon>
                                            <i class="fa-solid fa-phone"></i>
                                        </p-inputGroupAddon>
                                        <span class="p-float-label">
                                            <input type="text" pInputText onlyNumbers [maxLength]="10"
                                                [id]="'contactNumber_' + i" formControlName="contactNumber"
                                                autocomplete="off"
                                                [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(i, 'contactNumber')}">
                                            <label [for]="'contactNumber_' + i">Phone Number</label>
                                        </span>
                                    </p-inputGroup>
                                    <small class="p-error block" *ngIf="isFieldInvalid(i, 'contactNumber')">
                                        {{ getErrorMessage(i, 'contactNumber') }}
                                    </small>
                                </div>

                                <!-- Branch Address -->
                                <ng-container formGroupName="address">
                                    <div class="field col-12 md:col-4">
                                        <span class="p-float-label">
                                            <p-autoComplete formControlName="country" [suggestions]="filteredCountries"
                                                (completeMethod)="filterCountries($event, i)" dataKey="countryId"
                                                field="countryName" [dropdown]="true"
                                                (onSelect)="onCountrySelect($event, i)" [id]="'country' + i"
                                                [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(i,'country','address')}">
                                            </p-autoComplete>
                                            <label for="country">Country</label>
                                        </span>
                                        <small class="p-error block" *ngIf="isFieldInvalid(i,'country','address')">{{
                                            getErrorMessage(i,'country','address') }}</small>
                                    </div>
                                    <div class="field col-12 md:col-4">
                                        <span class="p-float-label">
                                            <p-autoComplete formControlName="state" [suggestions]="filteredStates"
                                                (completeMethod)="filterStates($event, i)" dataKey="stateId"
                                                field="stateName" [dropdown]="true" (onSelect)="onStateSelect($event, i)"
                                                [id]="'state' + i"
                                                [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(i,'state','address')}">
                                            </p-autoComplete>
                                            <label for="state">State</label>
                                        </span>
                                        <small class="p-error block" *ngIf="isFieldInvalid(i,'state','address')">{{
                                            getErrorMessage(i,'state','address') }}</small>
                                    </div>
                                    <div class="field col-12 md:col-4">
                                        <span class="p-float-label">
                                            <p-autoComplete formControlName="dist" [suggestions]="filteredDists"
                                                (completeMethod)="filterDists($event, i)" dataKey="distId" field="distName"
                                                [dropdown]="true" [id]="'dist' + i"
                                                [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(i,'dist','address')}">
                                            </p-autoComplete>
                                            <label for="dist">Dist</label>
                                        </span>
                                        <small class="p-error block" *ngIf="isFieldInvalid(i,'dist','address')">{{
                                            getErrorMessage(i,'dist','address') }}</small>
                                    </div>
                                    <div class="field col-12 md:col-4">
                                        <span class="p-float-label">
                                            <input type="text" pInputText [id]="'at' + i" formControlName="at"
                                                transformToUppercase autocomplete="off"
                                                [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(i,'at','address')}">
                                            <label htmlFor="at">At</label>
                                        </span>
                                        <small class="p-error block" *ngIf="isFieldInvalid(i,'at','address')">{{
                                            getErrorMessage(i,'at','address') }}</small>
                                    </div>
                                    <div class="field col-12 md:col-4">
                                        <span class="p-float-label">
                                            <input type="text" pInputText [id]="'post' + i" formControlName="post"
                                                class="w-full" transformToUppercase autocomplete="off"
                                                [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(i,'post','address')}">
                                            <label htmlFor="post">Post</label>
                                        </span>
                                        <small class="p-error block" *ngIf="isFieldInvalid(i,'post','address')">{{
                                            getErrorMessage(i,'post','address') }}</small>
                                    </div>
                                    <div class="field col-12 md:col-4">
                                        <span class="p-float-label">
                                            <input type="text" pInputText [id]="'city' + i" formControlName="city"
                                                class="w-full" transformToUppercase autocomplete="off"
                                                [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(i,'city','address')}">
                                            <label htmlFor="city">City</label>
                                        </span>
                                        <small class="p-error block" *ngIf="isFieldInvalid(i,'city','address')">{{
                                            getErrorMessage(i,'city','address') }}</small>
                                    </div>
                                    <div class="field col-12 md:col-4">
                                        <span class="p-float-label">
                                            <input type="text" pInputText [id]="'pinCode' + i" formControlName="pinCode"
                                                class="w-full" onlyNumbers [maxLength]="6" autocomplete="off"
                                                [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(i,'pinCode','address')}">
                                            <label htmlFor="pinCode">Pin Code</label>
                                        </span>
                                        <small class="p-error block" *ngIf="isFieldInvalid(i,'pinCode','address')">{{
                                            getErrorMessage(i,'pinCode','address') }}</small>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-content-end mb-3">
                        <button *ngIf="operationType === 'add'" pButton type="button" label="Add More"
                            icon="fa-solid fa-circle-plus" (click)="addBranch()"
                            class="p-button-success mr-2 "></button>
                        <button pButton type="submit" [disabled]="!branchForm.valid" (click)="submit()">
                            <ng-container *ngIf="isLoading; else branchLabel">
                                <i class="pi pi-spin pi-spinner mr-2"></i> Loading...
                            </ng-container>
                            <ng-template #branchLabel><i class="pi pi-save mr-2"></i>Save</ng-template>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<p-dialog header="Dialog" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '60vw'}"
    [breakpoints]="{'960px': '75vw'}">
    <p-accordion>
        <p-accordionTab header="Form Values" [selected]="true" class="line-height-3 m-0">
            <pre class="p-2 border rounded bg-gray-100" style="white-space: pre-wrap;">{{ formJson }}</pre>
        </p-accordionTab>
        <p-accordionTab header="Add" class="line-height-3 m-0">
            <pre class="p-2 border rounded bg-gray-100" style="white-space: pre-wrap;">{{ AddOperationJson }}</pre>
        </p-accordionTab>
        <p-accordionTab header="Update" class="line-height-3 m-0">
            <pre class="p-2 border rounded bg-gray-100" style="white-space: pre-wrap;">{{ UpdateOperationJson }}</pre>
        </p-accordionTab>
        <p-accordionTab header=" Form Errors" class="line-height-3 m-0">
            <pre class="p-2 border rounded bg-gray-100" style="white-space: pre-wrap;">{{formErrors}}</pre>
        </p-accordionTab>
        <p-accordionTab header="Form Status" class="line-height-3 m-0">
            <p><strong>Valid:</strong> {{ branchForm.valid }}</p>
            <p><strong>Touched:</strong> {{ branchForm.touched }}</p>
            <p><strong>Dirty:</strong> {{ branchForm.dirty }}</p>
            <p><strong>Status:</strong> {{ branchForm.status }}</p>
        </p-accordionTab>
        <p-accordionTab header="Property Status" class="line-height-3 m-0">
            <p><strong>Operation Type:</strong> {{ operationType }}</p>
        </p-accordionTab>
    </p-accordion>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-check" (click)="display=false" label="Ok" class="p-button-outlined"></button>
    </ng-template>
</p-dialog>