<p-dialog header="Dialog" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '60vw'}"
    [breakpoints]="{'960px': '75vw'}">
    <p-accordion>
        <p-accordionTab header="Branch Dto" class="line-height-3 m-0">
            <pre class="p-2 border rounded bg-gray-100" style="white-space: pre-wrap;">{{ branchJson }}</pre>
        </p-accordionTab>
        <p-accordionTab header="Form Values" class="line-height-3 m-0">
            <pre class="p-2 border rounded bg-gray-100" style="white-space: pre-wrap;">{{ formJson }}</pre>
        </p-accordionTab>
        <p-accordionTab header="Add" class="line-height-3 m-0">
            <pre class="p-2 border rounded bg-gray-100" style="white-space: pre-wrap;">{{ branchModelJson }}</pre>
        </p-accordionTab>
        <p-accordionTab header="Update" class="line-height-3 m-0">
            <pre class="p-2 border rounded bg-gray-100" style="white-space: pre-wrap;">{{ BranchUpdatemodelJson }}</pre>
        </p-accordionTab>
        <p-accordionTab header="Form Data" class="line-height-3 m-0">
            <pre class="p-2 border rounded bg-gray-100" style="white-space: pre-wrap;">{{ formErrors }}</pre>
        </p-accordionTab>
        <p-accordionTab header="Form Status" class="line-height-3 m-0">
            <p><strong>Valid:</strong> {{ branchForm.valid }}</p>
            <p><strong>Touched:</strong> {{ branchForm.touched }}</p>
            <p><strong>Dirty:</strong> {{ branchForm.dirty }}</p>
            <p><strong>Status:</strong> {{ branchForm.status }}</p>
        </p-accordionTab>
        <p-accordionTab header="Property Values" class="line-height-3 m-0">
            <p><strong>display:</strong> {{ display }}</p>
            <p><strong>isLoading:</strong> {{ isLoading }}</p>
            <p><strong>operationType:</strong> {{ operationType}}</p>
        </p-accordionTab>
    </p-accordion>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-check" (click)="display=false" label="Ok" class="p-button-outlined"></button>
    </ng-template>
</p-dialog>

<p-toast></p-toast>

<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="col-12">
                <p-toolbar styleClass="mb-1">
                    <ng-template pTemplate="left"></ng-template>
                    <ng-template pTemplate="right">
                        <button (click)="display=true" pButton icon="pi pi-external-link" label="Show"></button>
                    </ng-template>
                </p-toolbar>
            </div>
            <div class="col-12">
                <form [formGroup]="branchForm" (ngSubmit)="submit()" class="pt-4">
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-4">
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="fa-solid fa-city"></i>
                                </p-inputGroupAddon>
                                <span class="p-float-label">
                                    <input type="text" pInputText transformToUppercase id="branchName"
                                        formControlName="branchName" autocomplete="off" 
                                        [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('branchName')}">
                                    <label for="name">Branch Name</label>
                                </span>
                            </p-inputGroup>
                            <small class="p-error block" *ngIf="isFieldInvalid('branchName')">{{ getErrorMessage('branchName') }}</small>
                        </div>
                        <div class="field col-12 md:col-4">
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="fa-solid fa-barcode"></i>
                                </p-inputGroupAddon>
                                <span class="p-float-label">
                                    <input type="text" pInputText id="branchCode" 
                                    formControlName="branchCode" autocomplete="off"
                                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('branchCode')}">
                                    <label for="name">Code</label>
                                </span>
                            </p-inputGroup>
                            <small class="p-error block" *ngIf="isFieldInvalid('branchCode')">{{ getErrorMessage('branchCode') }}</small>
                        </div>
                        <div class="field col-12 md:col-4">
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="fa-solid fa-phone"></i>
                                </p-inputGroupAddon>
                                <span class="p-float-label">
                                    <input type="text" pInputText onlyNumbers [maxLength]="10" id="contactNumber"
                                        formControlName="contactNumber" autocomplete="off"
                                        [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('contactNumber')}">
                                    <label for="name">Phone Number</label>
                                </span>
                            </p-inputGroup>
                            <small class="p-error block" *ngIf="isFieldInvalid('contactNumber')">{{ getErrorMessage('contactNumber') }}</small>
                        </div>
                        <ng-container formGroupName="address">
                            <div class="field col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-autoComplete formControlName="country" [suggestions]="filteredCountries"
                                        (completeMethod)="filterCountries($event)" dataKey="countryId"
                                        field="countryName" [dropdown]="true" (onSelect)="onCountrySelect($event)"
                                        name="country" [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('country','address')}">
                                    </p-autoComplete>
                                    <label for="country">Country</label>
                                </span>
                                <small class="p-error block" *ngIf="isFieldInvalid('country','address')">{{ getErrorMessage('country','address') }}</small>
                            </div>
                            <div class="field col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-autoComplete formControlName="state" [suggestions]="filteredStates"
                                        (completeMethod)="filterStates($event)" dataKey="stateId" field="stateName"
                                        [dropdown]="true" (onSelect)="onStateSelect($event)" name="state" [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('state','address')}">
                                    </p-autoComplete>
                                    <label for="state">State</label>
                                </span>
                                <small class="p-error block" *ngIf="isFieldInvalid('state','address')">{{ getErrorMessage('state','address') }}</small>
                            </div>
                            <div class="field col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-autoComplete formControlName="dist" [suggestions]="filteredDists"
                                        (completeMethod)="filterDists($event)" dataKey="distId" field="distName"
                                        [dropdown]="true" name="dist" [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('dist','address')}">
                                    </p-autoComplete>
                                    <label for="dist">Dist</label>
                                </span>
                                <small class="p-error block" *ngIf="isFieldInvalid('dist','address')">{{ getErrorMessage('dist','address') }}</small>
                            </div>
                            <div class="field col-12 md:col-4">
                                <span class="p-float-label">
                                    <input type="text" pInputText id="at" formControlName="at" transformToUppercase
                                        autocomplete="off" [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('at','address')}">
                                    <label htmlFor="at">At</label>
                                </span>
                                <small class="p-error block" *ngIf="isFieldInvalid('at','address')">{{ getErrorMessage('at','address') }}</small>
                            </div>
                            <div class="field col-12 md:col-4">
                                <span class="p-float-label">
                                    <input type="text" pInputText id="post" formControlName="post" class="w-full"
                                        transformToUppercase autocomplete="off" [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('post','address')}">
                                    <label htmlFor="post">Post</label>
                                </span>
                                <small class="p-error block" *ngIf="isFieldInvalid('post','address')">{{ getErrorMessage('post','address') }}</small>
                            </div>
                            <div class="field col-12 md:col-4">
                                <span class="p-float-label">
                                    <input type="text" pInputText id="city" formControlName="city" class="w-full"
                                        transformToUppercase autocomplete="off" [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('city','address')}">
                                    <label htmlFor="city">City</label>
                                </span>
                                <small class="p-error block" *ngIf="isFieldInvalid('city','address')">{{ getErrorMessage('city','address') }}</small>
                            </div>
                            <div class="field col-12 md:col-4">
                                <span class="p-float-label">
                                    <input type="text" pInputText id="pinCode" formControlName="pinCode" class="w-full"
                                        onlyNumbers [maxLength]="6" autocomplete="off" [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('pinCode','address')}">
                                    <label htmlFor="pinCode">Pin Code</label>
                                </span>
                                <small class="p-error block" *ngIf="isFieldInvalid('pinCode','address')">{{ getErrorMessage('pinCode','address') }}</small>
                            </div>
                        </ng-container>
                    </div>
                    <div class="flex justify-content-end mb-3">
                        <button pButton type="submit" [disabled]="!branchForm.valid">
                            <ng-container *ngIf="isLoading; else branchLabel">
                                <i class="pi pi-spin pi-spinner mr-2"></i> Loading...
                            </ng-container>
                            <ng-template #branchLabel><i class="pi pi-save mr-2"></i>Save</ng-template>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>