<div class="surface-ground flex align-items-center justify-content-center min-h-screen"
    style="background:var(--surface-ground)">
    <div class="surface-card p-2 shadow-2 border-round w-full lg:w-4">
        <div class="grid">
            <div class="col-12">
               {{message}}
               <div class="flex justify-content-end">
                <a routerLink="/auth/login" class="font-medium no-underline text-blue-500">
                   Back To Login
                </a>
               </div>
            </div>
        </div>
    </div>
</div>