<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Back To List" icon="fa-solid fa-circle-left" class="p-button-outlined p-button-info" (click)="BackToList()"></button>
                </ng-template>
                <ng-template pTemplate="right">
                        <button pButton pRipple label="Bulk Recover" icon="fa-solid fa-pen-to-square" class="p-button-outlined p-button-info mr-2" (click)="bulkRecoverBranch()" [disabled]="!selectedBranches || !selectedBranches.length|| (!isDevloper && !canUpdate)"></button>
                        <button pButton pRipple label="Bulk Delete" icon="fa-solid fa-trash" class="p-button-outlined p-button-danger" (click)="bulkDeleteBranch()" [disabled]="!selectedBranches || !selectedBranches.length || (!isDevloper && !canDelete)"></button>
                </ng-template>
            </p-toolbar>
                
            <p-table #dt [value]="branches" [columns]="cols" responsiveLayout="scroll" [rows]="pagination.pageSize"
            [first]="pagination.pageNumber * pagination.pageSize" [totalRecords]="totalRecords" [paginator]="true"
            [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" [lazy]="true"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             (onPage)="onPageChange($event)" [columns]="cols" responsiveLayout="scroll"
             [globalFilterFields]="['branchCode','branchName','branchAddress','contactNumber']" 
              [(selection)]="selectedBranches" selectionMode="multiple" [rowHover]="true" dataKey="branchId">
                <ng-template pTemplate="caption">
                    <div class="grid">
                        <div class="col-6 flex justify-content-start">
                            <input pInputText type="text" #search placeholder="Search..."
                                [(ngModel)]="pagination.searchTerm" class="w-full sm:w-auto" />
                            <button pButton pRipple icon="fa-solid fa-magnifying-glass" label="Search"
                                class="p-button-success ml-2" (click)="onGlobalFilter(search)">
                            </button>
                        </div>
                        <div class="col-6 flex justify-content-end">
                            <button (click)="display=true" pButton icon="pi pi-external-link" label="Show"></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="branchCode"> Branch Code <p-sortIcon field="branchCode"></p-sortIcon></th>
                        <th pSortableColumn="branchName"> Branch Name <p-sortIcon field="branchName"></p-sortIcon></th>
                        <th pSortableColumn="contactNumber">Contact Number <p-sortIcon field="contactNumber"></p-sortIcon></th>
                        <th pSortableColumn="branchAddress"> Address <p-sortIcon field="branchAddress"></p-sortIcon></th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-branch>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="branch"></p-tableCheckbox>
                        </td>
                        <td style="width:20%; min-width:12rem;">
                            {{branch.branchCode}}
                        </td>
                        <td style="width:20%; min-width:12rem;">
                            {{branch.branchName}}
                        </td>
                        <td style="width:20%; min-width:12rem;">
                            {{branch.contactNumber}}
                        </td>
                        <td style="width:20%; min-width:15rem;">
                            AT: {{branch.address.at}}, Post: {{branch.address.post}}, PinCode: {{branch.address.pinCode}}, Country: {{branch.address.countryName}}, State: {{branch.address.stateName}}, District: {{branch.address.distName}}, City: {{branch.address.city}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="fa-solid fa-trash-can-arrow-up" class="p-button-rounded p-button-success mr-2" [disabled]="!isDevloper && !canUpdate" (click)="recoverBranch(branch.branchId)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" [disabled]="!isDevloper && !canDelete" (click)="deleteBranch(branch.branchId )"></button>
                                <p-confirmPopup key="confirm2"></p-confirmPopup>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                   <!-- Loading Spinner Template -->
                   <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6" class="text-center">
                            <div *ngIf="loading" class="loading-overlay">
                                <p-progressSpinner styleClass="custom-spinner"
                                    [style]="{'width': '50px', 'height': '50px'}"></p-progressSpinner>
                            </div>
                            <div *ngIf="!loading && branches.length === 0">
                                No data found.
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-refresh" styleClass="p-button-text"
                        (click)="clearSearch()"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<!---------------------------------------------Operational Data Modal------------------------------------------------->
<p-dialog header="Dialog" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '60vw'}"
    [breakpoints]="{'960px': '75vw'}">
    <p-accordion>
        <p-accordionTab header="Dto Model" [selected]="true" class="line-height-3 m-0">
            <pre class="p-2 border rounded bg-gray-100" style="white-space: pre-wrap;">{{ branchDtoJson }}</pre>
        </p-accordionTab>
        <p-accordionTab header="Property" class="line-height-3 m-0">
            <p><strong>Operation Type:</strong> </p>
        </p-accordionTab>
    </p-accordion>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-check" (click)="display=false" label="Ok" class="p-button-outlined"></button>
    </ng-template>
</p-dialog>