<p-toast />
<div class="surface-ground flex align-items-center justify-content-center min-h-screen"
  style="background:var(--surface-ground)">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <img
        [src]="'assets/layout/images/logo-'+ (layoutSvcs.config().colorScheme === 'light' ? 'dark' : 'light') + '.png'"
        class="login-logo  mb-4" style=" width: 45px;" />
      <!-- <img [src]="'assets/layout/images/appname-'+ (layoutSvcs.config().colorScheme === 'light' ? 'dark' : 'light') + '.png'"
          class="login-appname ml-3 mb-4" style="width: 100px;" /> -->
      <div class="text-900 text-3xl font-medium mb-3">New Account</div>
      <span class="text-600 font-medium">(Register a new membership)</span>
    </div>
    <!--Form Test-->
    <div class="grid">
      <div class="col-12">
        <p-dialog header="Dialog" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '60vw'}"
          [breakpoints]="{'960px': '75vw'}">
          <p-accordion>
            <p-accordionTab header="Form Values" [selected]="true" class="line-height-3 m-0">
              <pre class="p-2 border rounded bg-gray-100" style="white-space: pre-wrap;">{{ formJson }}</pre>
            </p-accordionTab>
            <p-accordionTab header="Model" class="line-height-3 m-0">
              <pre class="p-2 border rounded bg-gray-100" style="white-space: pre-wrap;">{{ modelJson }}</pre>
            </p-accordionTab>
            <p-accordionTab header="Form Errors" class="line-height-3 m-0">
              <pre class="p-2 border rounded bg-gray-100" style="white-space: pre-wrap;">{{ formErrors }}</pre>
            </p-accordionTab>
            <p-accordionTab header="Form Status" class="line-height-3 m-0">
              <p><strong>Valid:</strong> {{ registerForm.valid }}</p>
              <p><strong>Touched:</strong> {{ registerForm.touched }}</p>
              <p><strong>Dirty:</strong> {{ registerForm.dirty }}</p>
              <p><strong>Status:</strong> {{ registerForm.status }}</p>
            </p-accordionTab>
          </p-accordion>
          <ng-template pTemplate="footer">
            <button pButton icon="pi pi-check" (click)="display=false" label="Ok" class="p-button-outlined"></button>
          </ng-template>
        </p-dialog>
        <div class="grid">
          <div class="col-6 flex justify-content-start">
            <a pButton routerLink="/auth/login" icon="pi pi-arrow-circle-left" label="Back To Login"></a>
          </div>
          <div class="col-6 flex justify-content-end">
            <button (click)="display=true" pButton icon="pi pi-external-link" label="Show"></button>
          </div>
        </div>
      </div>
    </div>
    <!--. end Form Test-->
    <div class="grid">
      <div class="col-12">
        <div class="field grid">
          <div class="col-8 flex flex-wrap gap-2">
            <p-inputMask mask="999-999-9999" placeholder="xxx-xxx-xxxx" [slotChar]="'_'" [(ngModel)]="tokenValue"
              autocomplete="off">
            </p-inputMask>
            <button pButton pRipple label="Validate" (click)="vaildateToken()"></button>
          </div>
        </div>
      </div>
      <div class="col-12">
        <p-steps [model]="items" [activeIndex]="activeIndex" [readonly]="false"></p-steps>
        <form [formGroup]="registerForm" class="pt-4">
          <div *ngIf="activeIndex === 0" formGroupName="accountInfo">
            <div class="p-fluid p-formgrid grid">
              <div class="field col-12 md:col-6">
                <p-inputGroup>
                  <p-inputGroupAddon>
                    <i class="pi pi-envelope"></i>
                  </p-inputGroupAddon>
                  <span class="p-float-label">
                    <input type="email" pInputText id="email" formControlName="email" (blur)="isEmailInUse()" autocomplete="off" 
                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid( 'accountInfo', 'email')}"/>
                    <label for="email">Email</label>
                  </span>
                  <p-inputGroupAddon>
                    <i *ngIf="emailLoading" class="pi pi-spinner pi-spin"></i>
                    <i *ngIf="!emailLoading && isvalidMail" class="pi pi-verified"></i>
                    <i *ngIf="!emailLoading && !isvalidMail" class="pi pi-times-circle"></i> </p-inputGroupAddon>
                </p-inputGroup>
                <small class="p-error block" *ngIf="isFieldInvalid('accountInfo', 'email')">{{ getErrorMessage('accountInfo','email') }}</small>
              </div>
              <div class="field col-12 md:col-6">
                <p-inputGroup>
                  <p-inputGroupAddon>
                    <i class="pi pi-phone"></i>
                  </p-inputGroupAddon>
                  <span class="p-float-label">
                    <input type="tel" pInputText id="phoneNumber" formControlName="phoneNumber" (blur)="isPhoneNumberInUse()" onlyNumbers [maxLength]="10" autocomplete="off" 
                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid( 'accountInfo', 'phoneNumber')}" />
                    <label for="phoneNumber">Phone Number</label>
                  </span>
                  <p-inputGroupAddon>
                    <i *ngIf="phoneNoLoading" class="pi pi-spinner pi-spin"></i>
                    <i *ngIf="!phoneNoLoading && isPhoneNumberValid" class="pi pi-verified"></i>
                    <i *ngIf="!phoneNoLoading && !isPhoneNumberValid" class="pi pi-times-circle"></i>
                  </p-inputGroupAddon>
                </p-inputGroup>
                <small class="p-error block" *ngIf="isFieldInvalid('accountInfo', 'phoneNumber')">{{ getErrorMessage('accountInfo','phoneNumber') }}</small>
              </div>
              <div class="field col-12 md:col-6">
                <span class="p-float-label">
                  <p-password id="password" formControlName="password" [toggleMask]="true" [feedback]="false"
                    autocomplete="off"  [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid( 'accountInfo', 'password')}"></p-password>
                  <label htmlFor="password">Password</label>
                </span>
                <small class="p-error block" *ngIf="isFieldInvalid('accountInfo', 'password')">{{ getErrorMessage('accountInfo','password') }}</small>
              </div>
              <div class="field col-12 md:col-6">
                <span class="p-float-label">
                  <p-password id="confirmPassword" formControlName="confirmPassword" [toggleMask]="true" [feedback]="false" autocomplete="off" 
                  [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid( 'accountInfo', 'confirmPassword')}"
                  ></p-password>
                  <label htmlFor="confirmPassword">Confirm Password</label>
                </span>
                <small class="p-error block" *ngIf="isFieldInvalid('accountInfo', 'confirmPassword')">{{ getErrorMessage('accountInfo','confirmPassword') }}</small>
              </div>
            </div>
          </div>
          <div *ngIf="activeIndex === 1" formGroupName="personalInfo">
            <div class="p-fluid p-formgrid grid">
              <div class="field col-12 md:col-6">
                <p-inputGroup>
                  <p-inputGroupAddon>
                    <i class="pi pi-user"></i>
                  </p-inputGroupAddon>
                  <span class="p-float-label">
                    <input type="text" pInputText transformToUppercase id="name" formControlName="name" (blur)="isUserExist()" autocomplete="off"
                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid( 'personalInfo', 'name')}">
                    <label for="name">User Name</label>
                  </span>
                  <p-inputGroupAddon>
                    <i *ngIf="userNameLoading" class="pi pi-spinner pi-spin"></i>
                    <i *ngIf="!userNameLoading && isUserValid" class="pi pi-verified"></i>
                    <i *ngIf="!userNameLoading && !isUserValid" class="pi pi-times-circle"></i>
                  </p-inputGroupAddon>
                </p-inputGroup>
                <small class="p-error block" *ngIf="isFieldInvalid('personalInfo', 'name')">{{ getErrorMessage('personalInfo', 'name') }}</small>
              </div>
              <div class="field col-12 md:col-6">
                <span class="p-float-label">
                  <p-calendar [showIcon]="true" appDateFormat inputId="icon" formControlName="birthDate" name="birthDate" [minYear]="1800" autocomplete="off"  
                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid( 'personalInfo', 'birthDate')}"></p-calendar>
                  <label for="birthDate">Birth Date</label>
                </span>
                <small class="p-error block" *ngIf="isFieldInvalid('personalInfo', 'birthDate')">{{ getErrorMessage('personalInfo', 'birthDate') }}</small>
              </div>
              <div class="col-12 md:col-6">
                <span class="p-float-label">
                  <p-autoComplete formControlName="maritalStatus" [suggestions]="filteredMaritalStatus"
                    (completeMethod)="filterMaritalStatus($event)" dataKey='key' field="value" [dropdown]="true"
                    name="maritalStatus" [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid( 'personalInfo', 'maritalStatus')}"></p-autoComplete>
                  <label for="maritalStatus">Marital Status</label>
                </span>
                <small class="p-error block" *ngIf="isFieldInvalid('personalInfo', 'maritalStatus')">{{ getErrorMessage('personalInfo', 'maritalStatus') }}</small>
              </div>
              <div class="col-12 md:col-6">
                <span class="p-float-label">
                  <p-autoComplete formControlName="gender" [suggestions]="filteredGender"
                    (completeMethod)="filterGender($event)" dataKey='key' field="value" [dropdown]="true" name="gender"
                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid( 'personalInfo', 'gender')}">
                  </p-autoComplete>
                  <label for="gender">Gender</label>
                </span>
                <small class="p-error block" *ngIf="isFieldInvalid('personalInfo', 'gender')">{{ getErrorMessage('personalInfo', 'gender') }}</small>
              </div>
              <div class="field col-12">
                <p-fileUpload [maxFileSize]="5 * 1024 * 1024" [multiple]="false"
                  accept="image/jpeg,image/jpg,image/png,image/gif,image/webp" [showUploadButton]="false"
                  [showCancelButton]="false" chooseLabel="Add Profile Photo" (onSelect)="onProfilePhotoSelect($event)"
                  (onRemove)="onProfilePhotoRemove()" [customUpload]="true"
                  [class.ng-invalid]="registerForm.get('personalInfo.profilePhoto')?.errors"
                  [class.ng-dirty]="registerForm.get('personalInfo.profilePhoto')?.touched">
                </p-fileUpload>
              </div>
            </div>
          </div>
          <div *ngIf="activeIndex === 2" formGroupName="address">
            <div class="p-fluid p-formgrid grid">
              <div class="field col-12 md:col-6">
                <span class="p-float-label">
                  <p-autoComplete formControlName="country" [suggestions]="filteredCountries"
                    (completeMethod)="filterCountries($event)" dataKey="countryId" field="countryName" [dropdown]="true"
                    (onSelect)="onCountrySelect($event)" name="country" [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid( 'address', 'country')}" >
                  </p-autoComplete>
                  <label for="country">Country</label>
                </span>
                <small class="p-error block" *ngIf="isFieldInvalid('address', 'country')">{{ getErrorMessage('address', 'country') }}</small>
              </div>
              <div class="field col-12 md:col-6">
                <span class="p-float-label">
                  <p-autoComplete formControlName="state" [suggestions]="filteredStates"
                    (completeMethod)="filterStates($event)" dataKey="stateId" field="stateName" [dropdown]="true"
                    (onSelect)="onStateSelect($event)" name="state" [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid( 'address', 'state')}">
                  </p-autoComplete>
                  <label for="state">State</label>
                </span>
                <small class="p-error block" *ngIf="isFieldInvalid('address', 'state')">{{ getErrorMessage('address', 'state') }}</small>
              </div>
              <div class="field col-12 md:col-6">
                <span class="p-float-label">
                  <p-autoComplete formControlName="dist" [suggestions]="filteredDists"
                    (completeMethod)="filterDists($event)" dataKey="distId" field="distName" [dropdown]="true"
                    name="dist" [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid( 'address', 'dist')}" >
                  </p-autoComplete>
                  <label for="dist">Dist</label>
                </span>
                <small class="p-error block" *ngIf="isFieldInvalid('address', 'dist')">{{ getErrorMessage('address', 'dist') }}</small>
              </div>
              <div class="field col-12 md:col-6">
                <span class="p-float-label">
                  <input type="text" pInputText id="at" formControlName="at" transformToUppercase autocomplete="off"
                  [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid( 'address', 'at')}">
                  <label htmlFor="at">At</label>
                </span>
                <small class="p-error block" *ngIf="isFieldInvalid('address', 'at')">{{ getErrorMessage('address', 'at') }}</small>
              </div>
              <div class="field col-12 md:col-6">
                <span class="p-float-label">
                  <input type="text" pInputText id="post" formControlName="post" class="w-full" transformToUppercase autocomplete="off"
                  [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid( 'address', 'post')}">
                  <label htmlFor="post">Post</label>
                </span>
                <small class="p-error block" *ngIf="isFieldInvalid('address', 'post')">{{ getErrorMessage('address', 'post') }}</small>
              </div>
              <div class="field col-12 md:col-6">
                <span class="p-float-label">
                  <input type="text" pInputText id="city" formControlName="city" class="w-full" transformToUppercase  autocomplete="off"
                  [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid( 'address', 'city')}">
                  <label htmlFor="city">City</label>
                </span>
                <small class="p-error block" *ngIf="isFieldInvalid('address', 'city')">{{ getErrorMessage('address', 'city') }}</small>
              </div>
              <div class="field col-12 md:col-6">
                <span class="p-float-label">
                  <input type="text" pInputText id="pinCode" formControlName="pinCode" class="w-full" onlyNumbers [maxLength]="6" autocomplete="off"
                  [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid( 'address', 'pinCode')}">
                  <label htmlFor="pinCode">Pin Code</label>
                </span>
                <small class="p-error block" *ngIf="isFieldInvalid('address', 'pinCode')">{{ getErrorMessage('address', 'pinCode') }}</small>
              </div>
            </div>
          </div>
          <!-- Navigation Buttons -->
          <div class="flex justify-content-between mt-4">
            <p-button label="Previous" (onClick)="prevStep()" [disabled]="activeIndex === 0"></p-button>
            <p-button *ngIf="activeIndex < 2" label="Next" (onClick)="nextStep()"
              [disabled]="!isStepValid(activeIndex)"></p-button>
            <button pButton *ngIf="activeIndex === 2" (click)="signUp()" [disabled]="!registerForm.valid"
              style="display: flex; align-items: center; justify-content: center;">
              <ng-container *ngIf="isLoading; else registerLabel">
                <i class="pi pi-spin pi-spinner"></i> Loading...
              </ng-container>
              <ng-template #registerLabel>Register</ng-template>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>