<p-toast></p-toast>
<!---------------------------------------------Modal------------------------------------------------->
<app-list-recover-branch-financial-year></app-list-recover-branch-financial-year>
<add-update-branch-financial-year></add-update-branch-financial-year>
<bulk-add-update-branch-financial-year></bulk-add-update-branch-financial-year>
<!--------------------------------------------------------------------------------------------------->
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Recover" icon="fa-solid fa-rotate"
                            class="p-button-outlined p-button-info" (click)="recoverBranchFinancialYear()"
                            [disabled]="!isDevloper"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="my-2">
                        <button pButton pRipple label="Add" icon="fa-solid fa-circle-plus"
                            class="p-button-outlined p-button-success mr-2" [disabled]="!isDevloper && !canCreate"
                            (click)="addBranchFinancialYear()"></button>
                        <button pButton pRipple label="Bulk Add" icon="fa-solid fa-notes-medical"
                            class="p-button-outlined p-button-success" [disabled]="!isDevloper && !canCreate"
                            (click)="bulkAddBranchFinancialYear()"></button>
                    </div>
                </ng-template>
            </p-toolbar>
            <p-table #dt [value]="branchFinancialYears" [rows]="pagination.pageSize"
                [first]="pagination.pageNumber * pagination.pageSize" [totalRecords]="totalRecords" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" [lazy]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                (onPage)="onPageChange($event)" [columns]="cols" responsiveLayout="scroll"
                [globalFilterFields]="['branch','financial_Year']" 
                [(selection)]="selectedBranchFinancialYears" selectionMode="multiple"  [rowHover]="true" dataKey="branchFinancialYearId">
                <ng-template pTemplate="caption">
                    <p-toolbar styleClass="mb-4 ">
                        <ng-template pTemplate="left">
                            <!-- <button pButton pRipple label="Import" icon="fa-solid fa-download"
                                class="p-button-outlined p-button-info mr-2" [disabled]="!isDevloper && !canCreate"
                                (click)="onImportClick()"></button>
                            <button pButton pRipple label="Export" icon="pi pi-upload"
                                class="p-button-outlined p-button-help mr-2" (click)="onExportClick()"></button>
                            <button pButton pRipple label="Print" icon="fa-solid fa-print"
                                class="p-button-outlined p-button-warning" (click)="print()"></button> -->
                        </ng-template>
                        <ng-template pTemplate="right">
                            <div class="my-2">
                                <button pButton pRipple label="Bulk Edit" icon="fa-solid fa-pen-to-square"
                                    class="p-button-outlined p-button-info mr-2" (click)="bulkEditBranchFinancialYear()"
                                    [disabled]="!selectedBranchFinancialYears || !selectedBranchFinancialYears.length || (!isDevloper && !canUpdate)"></button>
                                <button pButton pRipple label="Bulk Delete" icon="fa-solid fa-trash"
                                    class="p-button-outlined p-button-danger" (click)="bulkRemoveBranchFinancialYear()"
                                    [disabled]="!selectedBranchFinancialYears || !selectedBranchFinancialYears.length ||(!isDevloper &&  !canDelete)"></button>
                                <p-confirmDialog key="bulkRemove" icon="pi pi-exclamation-triangle"
                                    header="Confirm Deletion"
                                    message="Are you sure you want to delete the selected branches?"
                                    [style]="{width: '350px'}" acceptButtonStyleClass="p-button-danger"
                                    rejectButtonStyleClass="p-button-text">
                                </p-confirmDialog>
                            </div>
                        </ng-template>
                    </p-toolbar>
                    <div class="grid">
                        <div class="col-6 flex justify-content-start">
                            <input pInputText type="text" #search placeholder="Search..."
                                [(ngModel)]="pagination.searchTerm" class="w-full sm:w-auto" />
                            <button pButton pRipple icon="fa-solid fa-magnifying-glass" label="Search"
                                class="p-button-success ml-2" (click)="onGlobalFilter(search)">
                            </button>
                        </div>
                        <div class="col-6 flex justify-content-end">
                            <button (click)="display=true" pButton icon="pi pi-external-link" label="Show"></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="branch">Branch <p-sortIcon  field="branch"></p-sortIcon></th>
                        <th pSortableColumn="financial_Year">Financial Year<p-sortIcon field="financial_Year"></p-sortIcon></th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-branchFinancialYear>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="branchFinancialYear"></p-tableCheckbox>
                        </td>
                        <td style="width:25%; min-width:12rem;">
                            {{ branchFinancialYear.branchName }}
                        </td>
                        <td style="width:25%; min-width:12rem;">
                            {{branchFinancialYear.financial_Year}}
                        </td>
                    
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2" [disabled]="!canUpdate"
                                    (click)="editBranchFinancialYear(branchFinancialYear)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    [disabled]="!canDelete"
                                    (click)="removeBranchFinancialYear(branchFinancialYear.branchFinancialYearId, $event )"></button>
                                <p-confirmPopup key="remove"></p-confirmPopup>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <!-- Loading Spinner Template -->
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="4" class="text-center">
                            <div *ngIf="loading" class="loading-overlay">
                                <p-progressSpinner styleClass="custom-spinner"
                                    [style]="{'width': '50px', 'height': '50px'}"></p-progressSpinner>
                            </div>
                            <div *ngIf="!loading && branchFinancialYears.length === 0">
                                No data found.
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-refresh" styleClass="p-button-text"
                        (click)="clearSearch()"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>


<!---------------------------------------------Operational Data Modal------------------------------------------------->
<p-dialog header="Dialog" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '60vw'}"
    [breakpoints]="{'960px': '75vw'}">
    <p-accordion>
        <p-accordionTab header="Dto Model" [selected]="true" class="line-height-3 m-0">
            <pre class="p-2 border rounded bg-gray-100" style="white-space: pre-wrap;">{{ financialYearDtoJson }}</pre>
        </p-accordionTab>
        <p-accordionTab header="Property" class="line-height-3 m-0">
            <p><strong>canDelete:</strong>{{canDelete}} </p>
            <p><strong>canCreate:</strong>{{canCreate}} </p>
            <p><strong>canUpdate:</strong> {{canUpdate}}</p>
            <p><strong>isDevloper:</strong> {{isDevloper}}</p>
            <p><strong>totalRecords:</strong> {{totalRecords}}</p>
        </p-accordionTab>
    </p-accordion>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-check" (click)="display=false" label="Ok" class="p-button-outlined"></button>
    </ng-template>
</p-dialog>
